.browser__control-panel-input .el-icon > svg {
  cursor: pointer;
}
.browser__input-filter .el-icon > svg {
  cursor: pointer;
}
.browser__boolean-filter.el-radio-group {
  align-items: start;
  display: flex;
  flex-direction: column;
}
.browser__boolean-filter .el-radio {
  height: 24px;
}
.browser .el-input__inner {
  font-size: 16px;
}
.browser .el-table {
  box-shadow: var(--main-box-shadow);
}
.browser .el-table.--loading {
  filter: blur(2px);
  opacity: 1;
}
.browser .el-table tbody tr {
  cursor: pointer;
}
.browser__control-panel {
  background: var(--main-background-color);
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  position: sticky;
  top: 20px;
  z-index: 2;
}
.browser__control-panel .el-input svg {
  color: var(--main-gradient-intermediate);
}
.browser__control-panel-column.--left {
  align-items: center;
  cursor: pointer;
  display: flex;
}
.browser__control-panel-page-title {
  background: linear-gradient(to right, var(--main-gradient-start) 0, var(--main-gradient-end) 100%);
  -webkit-background-clip: text;
  border-radius: 5px;
  color: grey;
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-text-fill-color: transparent;
}
.browser__loader {
  height: 1000px;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  position: relative;
}
.browser__loader .el-loading-mask {
  background: transparent;
}
.browser__loader.--active {
  opacity: 1;
}
.browser__table-wrapper {
  border-radius: var(--main-border-radius);
  overflow: hidden;
  box-shadow: var(--main-box-shadow);
}
.browser__container {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.browser__filters-container {
  background: var(--main-background-color);
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
  height: auto;
  padding: 15px;
  width: 210px;
  z-index: 1;
}
.browser__filters {
  border-radius: var(--main-border-radius);
  overflow: hidden;
}
.browser__filters .el-scrollbar__bar.is-vertical {
  right: auto;
  left: 2px;
  width: 6px;
}
.browser .el-pagination.--browser {
  justify-content: end;
  margin-top: 10px;
}
.browser__detail .el-drawer__body {
  padding: 0;
}
.browser__detail .el-scrollbar__wrap {
  padding-right: 20px;
}
.browser__detail .el-scrollbar__wrap .el-scrollbar__wrap {
  padding-right: 0;
}
.browser__detail .el-scrollbar {
  --el-scrollbar-opacity: 1;
}
.browser__detail .el-scrollbar__bar {
  right: 1px;
}
.browser__detail .el-scrollbar__bar.is-vertical {
  width: 6px;
}
.browser__detail .el-drawer__header {
  align-items: start;
  background: var(--browser-detail-header-background-color);
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-2);
}
.browser__detail-header {
  font-size: 24px;
}
.browser__detail-subheader {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: var(--color-4);
}
.browser__detail-container {
  display: flex;
  flex-direction: column;
}
.browser__detail-content {
  padding: 20px 0 20px 20px;
}
.browser__detail-controls {
  margin-top: 20px;
}
.browser__detail-confirm.el-message-box {
  vertical-align: super;
}
.browser__detail .tabs {
  width: calc(100% + 40px);
  left: -20px;
  overflow-x: auto;
  top: 20px;
}
.browser-in-detail .el-pagination {
  display: inline-flex;
}
.browser-in-detail__row {
  display: flex;
  justify-content: space-between;
}
.browser-in-detail__row.--top {
  margin-bottom: 10px;
}
.browser-in-detail__row.--bottom {
  margin-top: 10px;
}
.browser-in-detail__loader {
  height: 1000px;
  width: 100%;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  position: relative;
}
.browser-in-detail__loader .el-loading-mask {
  background: transparent;
}
.browser-in-detail__loader.--active {
  opacity: 1;
}
.browser-in-detail .el-table.--loading {
  filter: blur(2px);
}
.browser-in-detail .el-table--fit .el-table__inner-wrapper:before {
  width: 0;
}
.browser-in-detail .el-table__body tr:last-child td {
  border-bottom: none;
}
