.rich-editor {
  width: 100%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.rich-editor.--loading {
  opacity: 0;
}
.rich-editor .el-button svg {
  fill: currentColor;
  width: 14px;
  height: 14px;
}
.rich-editor__top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rich-editor .ProseMirror {
  min-height: 200px;
  padding: 1rem;
  border-radius: 5px;
  background: #fff;
  font-size: inherit;
  border: none;
}
.rich-editor .ProseMirror:focus {
  outline: none;
  border-color: #1976d2;
}
.rich-editor .ProseMirror *:first-child {
  margin-top: 0;
}
.rich-editor .ProseMirror *:last-child {
  margin-bottom: 0;
}
.rich-editor .ProseMirror pre {
  background: #f5f5f5;
  color: #333;
  padding: 16px;
  border-radius: 4px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
  font-family: 'Fira Code', monospace;
}
.rich-editor .ProseMirror img {
  border: 1px solid transparent;
  border-radius: var(--main-border-radius);
  width: 100%;
  object-fit: contain;
  background-color: black;
  height: 400px;
  display: block;
  margin: 0 auto;
}
.rich-editor .ProseMirror img.ProseMirror-selectednode {
  border: 1px solid var(--el-color-primary);
}
.rich-editor .ProseMirror blockquote {
  border-left: 5px solid #eee;
  margin-left: 0;
  padding: 10px 20px;
}
.rich-editor .ProseMirror code {
  background-color: #f4f4f4;
  color: #d63384;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: Consolas, Monaco, monospace;
  font-size: 0.95em;
}
.rich-editor-editor svg {
  width: 14px;
  height: 14px;
  color: var(--el-text-color-regular);
  fill: currentColor;
}
.rich-editor__buttons-group > .el-dropdown:first-child button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rich-editor__buttons-group > .el-dropdown + .el-dropdown button {
  border-radius: 0;
  border-color: var(--el-border-color) var(--el-border-color) var(--el-border-color) transparent;
}
.rich-editor__buttons-group > * {
  border-radius: 0;
}
.rich-editor__buttons-group > *:last-child {
  border-radius: var(--el-border-radius-base);
}
.rich-editor__buttons-group > .el-button + .el-button {
  margin-left: 0;
  border-color: var(--el-border-color) var(--el-border-color) var(--el-border-color) transparent;
  border-radius: 0;
}
.rich-editor__buttons-group > .el-button + .el-button:last-child {
  border-radius: 0 var(--el-border-radius-base) var(--el-border-radius-base) 0;
}
.rich-editor__buttons-group > .el-button + .el-button:hover {
  border-color: var(--el-border-color) var(--el-border-color) var(--el-border-color) transparent;
}
.rich-editor__buttons-group > * + .el-button {
  margin-left: 0;
  border-color: var(--el-border-color) var(--el-border-color) var(--el-border-color) transparent;
  border-radius: 0;
}
.rich-editor__buttons-group > * + .el-button:hover {
  border-color: var(--el-border-color) var(--el-border-color) var(--el-border-color) transparent;
}
.rich-editor__buttons-group > * + .el-button.is-active {
  border-color: var(--el-button-active-border-color);
}
.rich-editor__dropdown svg {
  width: 14px;
  height: 14px;
  fill: currentColor;
}
.rich-editor__custom-scroll {
  margin-top: 10px;
  box-shadow: 0 0 0 1px var(--el-border-color);
  border-radius: var(--el-border-radius-base);
}
